<li class="nav-label">{{"Gestion du menu" | trans}}</li>
<li>
    <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-file-alt"></i><span class="hide-menu">{{ 'Structure & Pages' | trans }}</span> </a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="{{ path('neptune_entity',{'type':'page'}) }}"><i class="fa fa-list-ul m-r-10"></i>{{ 'Voir les pages' | trans }}</a> </li>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li><a href="{{ path('neptune_type',{'type':'page'}) }}" class="ajax edit"><i class="fa fa-list-ul m-r-10"></i>{{'Types de pages' | trans}}</a> </li>
            <li><a href="{{ path('neptune_type_add',{'type':'page'}) }}" class="ajax edit"><i class="fa fa-plus m-r-10"></i>{{'Créer un type de page' | trans}}</a> </li>
        {% endif %}
    </ul>
</li>
{% if is_granted('ROLE_SUPER_ADMIN') %}
    <li>
        <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-file-alt"></i><span class="hide-menu">{{'Types de zones' | trans}}</span> </a>
        <ul aria-expanded="false" class="collapse">
                <li><a href="{{ path('neptune_type',{'type':'zone'}) }}" class="ajax edit"><i class="fa fa-list-ul m-r-10"></i>{{'Types de Zones' | trans}}</a> </li>
                <li><a href="{{ path('neptune_type_add',{'type':'zone'}) }}" class="ajax edit"><i class="fa fa-plus m-r-10"></i>{{'Créer un type de zone' | trans}}</a> </li>
        </ul>
    </li>
{% endif %}
<li>
    <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-file-alt"></i><span class="hide-menu">{{ 'Gestion des éléments' | trans }}</span> </a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="{{ path('neptune_entity',{'type':'element'}) }}">{{'Voir les éléments' | trans }}</a></li>
        <li><a href="{{ path('neptune_type',{'type':'element'}) }}" class="ajax edit"><i class="fa fa-list-ul m-r-10"></i>{{"Types d'éléments" | trans}}</a> </li>
        <li><a href="{{ path('neptune_type_add',{'type':'element'}) }}" class="ajax edit"><i class="fa fa-plus m-r-10"></i>{{"Créer un type d'élément" | trans}}</a> </li>
    </ul>
</li>
<hr/>

<li class="nav-label">{{"Coordonnées et admins" | trans}}</li>
<li>
    <a href="{{ path('neptune_infos_edit') }}" class="ajax edit"><i class="fa fa-photo"></i>{{"Informations & coordonnées" | trans}}</a>
</li>
{# <li><a href="{{ path('neptune_user') }}"><i class="fa fa-user"></i>{{"Gérer vos admins" | trans}}</a> </li> #}
{% if is_granted('ROLE_SUPER_ADMIN') %}
    <hr/>
    <li>
        <a class="has-arrow" href="#" aria-expanded="false"><i class="fas fa-flag"></i><span class="hide-menu">{{ 'Gestions des traductions' | trans }}</span> </a>
        <ul aria-expanded="false" class="collapse">
            <li><a href="{{ path('neptune_export_text') }}" class="ajax export"><i class="fa fa-list-ul m-r-10"></i>{{'Exporter le texte' | trans}}</a> </li>
            <li><a href="{{ path('neptune_import_text') }}" class="ajax edit"><i class="fa fa-plus m-r-10"></i>{{'Importer le texte' | trans}}</a> </li>
        </ul>
    </li>
{% endif %}

{{ include('@ScyLabsNeptune/admin/menu.html.twig') }}
{{ ScyLabs_showHook(_self,'ScyLabsNeptuneBundle.admin.menu') | raw }}

