<li class="nav-label">{{"Gestion du menu" | trans}}</li>
<li>
    <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-file-alt"></i><span class="hide-menu">{{ 'Structure & Pages' | trans }}</span> </a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="{{ path('neptune_entity',{'type':'page'}) }}"><i class="fa fa-list-ul m-r-10"></i>{{ 'Voir les pages' | trans }}</a> </li>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li><a href="{{ path('neptune_type',{'type':'page'}) }}" class="ajax edit"><i class="fa fa-list-ul m-r-10"></i>{{'Types de pages' | trans}}</a> </li>
            <li><a href="{{ path('neptune_type_add',{'type':'page'}) }}" class="ajax edit"><i class="fa fa-plus m-r-10"></i>{{'Créer un type de page' | trans}}</a> </li>
        {% endif %}
    </ul>
</li>
{% if is_granted('ROLE_SUPER_ADMIN') %}
    <li>
        <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-file-alt"></i><span class="hide-menu">{{'Types de zones' | trans}}</span> </a>
        <ul aria-expanded="false" class="collapse">
                <li><a href="{{ path('neptune_type',{'type':'zone'}) }}" class="ajax edit"><i class="fa fa-list-ul m-r-10"></i>{{'Types de Zones' | trans}}</a> </li>
                <li><a href="{{ path('neptune_type_add',{'type':'zone'}) }}" class="ajax edit"><i class="fa fa-plus m-r-10"></i>{{'Créer un type de zone' | trans}}</a> </li>
        </ul>
    </li>
{% endif %}
<li>
    <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-file-alt"></i><span class="hide-menu">{{ 'Gestion des éléments' | trans }}</span> </a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="{{ path('neptune_entity',{'type':'element'}) }}">{{'Voir les éléments' | trans }}</a></li>
        <li><a href="{{ path('neptune_type',{'type':'element'}) }}" class="ajax edit"><i class="fa fa-list-ul m-r-10"></i>{{"Types d'éléments" | trans}}</a> </li>
        <li><a href="{{ path('neptune_type_add',{'type':'element'}) }}" class="ajax edit"><i class="fa fa-plus m-r-10"></i>{{"Créer un type d'élément" | trans}}</a> </li>
    </ul>
</li>
<hr/>

<li class="nav-label">{{"Informations & coordonnées" | trans}}</li>
<li>
    <a href="{{ path('neptune_infos_edit') }}" class="ajax edit"><i class="fa fa-photo"></i>{{"Modifier les informations" | trans}}</a>
</li>
{# <li><a href="{{ path('neptune_user') }}"><i class="fa fa-user"></i>{{"Gérer vos admins" | trans}}</a> </li> #}
{% if is_granted('ROLE_SUPER_ADMIN') %}
    <hr/>
    <li class="nav-label">{{"Gestions des traductions" | trans}}</li>
    <li>
        <a class="has-arrow" href="#" aria-expanded="false"><i class="fas fa-flag"></i><span class="hide-menu">{{ 'Importer / Exporter' | trans }}</span> </a>
        <ul aria-expanded="false" class="collapse">
            <li><a href="{{ path('neptune_export_text') }}" class="ajax export"><i class="fa fa-list-ul m-r-10"></i>{{'Exporter le texte' | trans}}</a> </li>
            <li><a href="{{ path('neptune_import_text') }}" class="ajax edit"><i class="fa fa-plus m-r-10"></i>{{'Importer le texte' | trans}}</a> </li>
        </ul>
    </li>
{% endif %}
<!-- Profile -->
{% if app.user.username is defined %}
    {# <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i style="margin-left: 20px;" class="fal fa-user"></i> </a>
        <div class="dropdown-menu dropdown-menu-right animated zoomIn">
            <ul class="dropdown-user"> 
                <li>#}
                <a href="{{ path('neptune_logout') }}" class="logout"><i class="fa fa-power-off"></i> Deconnexion</a>
                {# </li>
            </ul>
        </div>
    </li> #}
{% endif %}
{{ include('@ScyLabsNeptune/admin/menu.html.twig') }}
{{ ScyLabs_showHook(_self,'ScyLabsNeptuneBundle.admin.menu') | raw }}

