<li class="nav-devider"></li>
<li> <a href="{{ path('neptune_home') }}" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">{{ 'Tableau de bord' | trans }}<span class="label label-rouded label-primary pull-right">2</span></span></a>
</li>
<hr/>
<li>
    <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-file-alt"></i><span class="hide-menu">{{ 'Gérer vos pages' | trans }}</span> </a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="{{ path('neptune_entity',{'type':'page'}) }}"><i class="fa fa-list-ul m-r-10"></i>{{ 'Toutes les pages' | trans }}</a> </li>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li><a href="{{ path('neptune_type',{'type':'page'}) }}" class="ajax edit"><i class="fa fa-list-ul m-r-10"></i>{{'Types de pages' | trans}}</a> </li>
            <li><a href="{{ path('neptune_type_add',{'type':'page'}) }}" class="ajax edit"><i class="fa fa-plus m-r-10"></i>{{'Créer un type de page' | trans}}</a> </li>
        {% endif %}
    </ul>
</li>
{% if is_granted('ROLE_SUPER_ADMIN') %}
    <li>
        <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-file-alt"></i><span class="hide-menu">{{'Types de zones' | trans}}</span> </a>
        <ul aria-expanded="false" class="collapse">
                <li><a href="{{ path('neptune_type',{'type':'zone'}) }}" class="ajax edit"><i class="fa fa-list-ul m-r-10"></i>{{'Types de Zones' | trans}}</a> </li>
                <li><a href="{{ path('neptune_type_add',{'type':'zone'}) }}" class="ajax edit"><i class="fa fa-plus m-r-10"></i>{{'Créer un type de zone' | trans}}</a> </li>
        </ul>
    </li>
{% endif %}
<li>
    <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-file-alt"></i><span class="hide-menu">{{ 'Gérer vos éléments' | trans }}</span> </a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="{{ path('neptune_entity',{'type':'element'}) }}">{{'Tous les éléments' | trans }}</a></li>
        <li><a href="{{ path('neptune_type',{'type':'element'}) }}" class="ajax edit"><i class="fa fa-list-ul m-r-10"></i>{{"Types d'éléments" | trans}}</a> </li>
        <li><a href="{{ path('neptune_type_add',{'type':'element'}) }}" class="ajax edit"><i class="fa fa-plus m-r-10"></i>{{"Créer un type d'élément" | trans}}</a> </li>
    </ul>
</li>
<li>
    <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-file-alt"></i><span class="hide-menu">{{"Partenaires" | trans}}</span> </a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="{{ path('neptune_entity',{'type':'partner'}) }}"><i class="fa fa-list-ul m-r-10"></i>{{"Gérer vos Partenaires" | trans}}</a> </li>
        <li><a href="{{ path('neptune_entity_add',{'type':'partner'}) }}" class="ajax edit"><i class="fa fa-plus m-r-10"></i>{{"Créer un Partenaire" | trans}}</a> </li>
    </ul>
</li>
<hr/>
<li class="nav-label">{{"Medias" | trans}}</li>
<li>
    <a href="{{ path('neptune_type',{'type':'file'}) }}" class="ajax edit"><i class="fa fa-photo"></i> {{"Type de fichier" | trans}}</a>
</li>
<hr/>
<li class="nav-label">{{"Coordonnées et utilisateurs" | trans}}</li>
<li>
    <a href="{{ path('neptune_infos_edit') }}" class="ajax edit"><i class="fa fa-photo"></i>{{"Gérer vos coordonnées" | trans}}</a>
</li>
<li><a href="{{ path('neptune_user') }}"><i class="fa fa-user"></i>{{"Gérer vos utilisateurs" | trans}}</a> </li>

{{ include('@ScyLabsNeptune/admin/menu.html.twig') }}

{% if is_granted('ROLE_SUPER_ADMIN') %}
    <hr/>
    <li>
        <a class="has-arrow" href="#" aria-expanded="false"><i class="fas fa-flag"></i><span class="hide-menu">{{ 'Gestions des traductions' | trans }}</span> </a>
        <ul aria-expanded="false" class="collapse">
                <li><a href="{{ path('neptune_export_text') }}" class="ajax export"><i class="fa fa-list-ul m-r-10"></i>{{'Exporter le texte' | trans}}</a> </li>
                <li><a href="{{ path('neptune_import_text') }}" class="ajax edit"><i class="fa fa-plus m-r-10"></i>{{'Importer le texte' | trans}}</a> </li>
        </ul>
    </li>
{% endif %}