<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image.jpg') }}" sizes="16x16" href="{{ asset('bundles/scylabsneptune/admin/images/favicon.jpg') }}">
    <title>Ela - Bootstrap Admin Dashboard Template</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ asset('css/login/login.css') }}"/>
</head>

<body>

    <div id="canvas-wrapper" style="">
        <div class="content-login centerXY">

            <h1>Connectez vous</h1>
            {# On affiche les messages flash que définissent les contrôleurs du bundle #}

            {% for key, message in app.session.flashbag.all() %}

                <div class="alert alert-{{ key }}">

                    {{ message|trans({}, 'FOSUserBundle') }}

                </div>

            {% endfor %}


            {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}

            {% block content %}

            {% endblock content %}
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </div>
        <canvas style="height:100%;width:100%;left:0;top:0;position:absolute;" id="demo-canvas"></canvas>
    </div>
    <script src="{{ asset('bundles/scylabsneptune/admin/js/lib/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/scylabsneptune/admin/js/lib/jquery-ui/jquery-ui.min.js') }}"></script>

    <script src="{{ asset('js/login/canvasbg.js') }}"></script>
    <script>
        CanvasBG.init({
            Loc: {
                x: window.innerWidth/2,
                y: window.innerHeight/3.3
            }
        });
    </script>
</body>
</html>