<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image.jpg') }}" sizes="16x16" href="{{ asset('bundles/scylabsneptune/admin/images/favicon.jpg') }}">
    <title>Ela - Bootstrap Admin Dashboard Template</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ asset('css/login/login.css') }}"/>
</head>

<body>

<div id="canvas-wrapper" style="">
    <div class="content-login centerXY">

        {% if title is defined %}
            <h3>{{ title }}</h3>
        {% endif %}
        <div class="form">
           {% trans_default_domain 'ScyLabsNeptune' %}

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <h3>Connectez vous</h3>
            <form action="{{ path('neptune_login') }}" method="post">
                
                <label for="email">Nom d'utilisateur</label>
                <input type="email" id="email" name="email" value="{{ last_username }}" required="required" autocomplete="username" />

                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" required="required" autocomplete="current-password" />

                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">Se souvenir de moi</label>

                <input type="submit" id="_submit" name="_submit" value="Envoyer" />
                <a href="#">Envoyer</a>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </form>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </div>
    </div>
    <canvas style="height:100%;width:100%;left:0;top:0;position:absolute;" id="demo-canvas"></canvas>
</div>
<script src="{{ asset('js/lib/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('js/lib/jquery-ui/jquery-ui.min.js') }}"></script>

<script src="{{ asset('js/login/canvasbg.js') }}"></script>
<script>
    CanvasBG.init({
        Loc: {
            x: window.innerWidth/2,
            y: window.innerHeight/3.3
        }
    });
</script>
</body>
</html>