<!-- Start Page Content -->

<div class="col-lg-12 m-t-25">
    <div class="">
        <a href="{{ path('neptune_type_add',{'type':app.request.attributes.get('type')}) }}" class="btn btn-pink m-b-10 m-l-5 show_form ajax add">Ajouter un type</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <table id="myTable" class="table table-bordered table-striped dataTable no-footer" role="grid" aria-describedby="myTable_info">
                    <thead>
                    <th>Nom</th>
                    <th>Intitulé</th>
                    <th>Actions</th>
                    </thead>
                    <tbody>
                    {% if types |length %}
                        {% for type in types %}
                            <tr>
                                <td>{{ type.name }}{% if type.codexId is defined and type.codexId is not null and app.user.apiToken is not null %}<i class="fas fa-paw" style="margin-left: 10px;"></i>{% endif %}</td>
                                <td>{{ type.title }}</td>
                                <td>
                                    <ul class="actions">

                                        {% if type.codexId is defined and type.codexId is not null and app.user.apiToken is not null%}
                                            <i class="fas fa-paw" style="margin-left: 10px;"></i>
                                            <li><a href="{{ path('codex_maj',{ "id":type.codexId }) }}" class="ajax" title="Mettre à jour depuis le codex"><i class="fas fa-download"></i></a> </li>
                                        {% endif %}
                                        {% if type.codexId is defined and app.user.apiToken is not null %}

                                            <li>
                                                <a href="{{ path('codex_export',{'id':type.id}) }}" class="ajax" title="Uploader la zone"><i class="fas fa-upload"></i></a>
                                            </li>
                                        {% endif %}
                                        {# <li>
                                            <a href="{{ path('codex_zone_show_template',{'id':type.id}) }}" class="ajax iframe"><i class="fas fa-search"></i></a>
                                        </li> #}
                                        <li><a href="{{ path('neptune_type_edit',{'id':type.id,'type':app.request.attributes.get('type')}) }}" title="Modifier" class="ajax edit"><i class="far fa-pen"></i></a></li>
                                        {% if type.removable %}
                                            <li class="">
                                                <a class="ajax delete" href="{{ path('neptune_type_remove',{'id':type.id,'type':app.request.attributes.get('type') }) }}" title="Supprimer">
                                                    <i class="fas fa-times"></i>
                                                </a>
                                            </li>
                                        {% endif %}

                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- End page Content -->