<li data-id="{{ file.id }}" class="col-lg-2 relative {{ file.type.name }}" data-type="{{ file.type.name }}">
    <span>
        <span class="boxing">
            <i class="fa fa-check centerXY"></i>
            <img src="{{ asset('uploads/'~file.file) | thumb(200) }}"/>
            <span class="date">{{ file.date.format('d/m/Y')}}</span>
            {{ render(controller(
                'ScyLabs\\NeptuneBundle\\Controller\\FileController::deleteAction',
                {'id':file.id}
            )) }}
        </span>
    </span>
</li>