<li data-id="{{ file.id }}" class="col-lg-2 relative {{ file.type.name }}" data-type="{{ file.type.name }}">
    <ul class="actions">
        <li>
            <a href="{{ asset('uploads/'~file.file)}}" class="fancy" data-fancybox="gallery"><i class="fa fa-search"></i></a>
        </li>
        <li>
            {{ render(controller(
                'ScyLabs\\NeptuneBundle\\Controller\\FileController::deleteAction',
                {'id':file.id}
            )) }}
        </li>
    </ul>

    <span>
        <span class="boxing">

            <i class="fa fa-check centerXY"></i>
            {% if file.type.name == 'photo' %}
                <img src="{{ asset('uploads/'~file.file)
                | thumb(400) }}"/>
            {% else %}
                <i class="fa {% if file.ext == 'pdf' %}
                fa-file-pdf
                {% endif %} centerXY iconFile">
                    {{ file.originalName }}
                </i>
                <span class="name"></span>
            {% endif %}
            <span class="date">{{ file.date.format('d/m/Y')}}</span>

        </span>
    </span>
</li>