{% extends '@ScyLabsNeptune/admin/layout.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/scylabsneptune/admin/css/lib/dropzone/dropzone.css') }}"/>
{% endblock %}
{% block js %}
    <script src="{{ asset('bundles/scylabsneptune/admin/js/lib/dropzone/dropzone.js') }}"></script>
    <script src={{ asset('bundles/scylabsneptune/admin/js/lib/datatables/datatables.min') }}></script>
    <script src={{ asset('bundles/scylabsneptune/admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min') }}></script>
    <script src={{ asset('bundles/scylabsneptune/admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min') }}></script>
    <script src={{ asset('bundles/scylabsneptune/admin/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min') }}></script>
    <script src={{ asset('bundles/scylabsneptune/admin/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min') }}></script>
    <script src={{ asset('bundles/scylabsneptune/admin/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts') }}></script>
    <script src={{ asset('bundles/scylabsneptune/admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min') }}></script>
    <script src={{ asset('bundles/scylabsneptune/admin/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min') }}></script>
    <script src={{ asset('bundles/scylabsneptune/admin/js/lib/datatables/datatables-init') }}></script>

    <script src="{{ asset('bundles/scylabsneptune/admin/js/gallery.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row" id="modification_prio">
        <div class="col-md-12 trans500">
            <h4>Gestions des photos</h4>
            <div class="card">
                <ul class="cartouches hack-inline sortable" data-action="{{ path('admin_file_prio') }}" data-type="photo">
                    {% if object is defined %}
                        {% for photo in object.photos %}
                                {% set file = photo.file %}
                                <li data-id="{{ photo.id }}" class="col-lg-2 ui-state-default relative {{ file.type.name }}" data-type="{{ file.type.name }}">

                                    <span>
                                        <span class="boxing">
                                            <img src="{{ asset('uploads/'~file.file) | thumb(400)}}"/>
                                        </span>
                                    </span>
                                    <ul class="actions">
                                        <li><a href="{{ asset('uploads/'~file.file)}}" class="fancy fancy_box"><i class="fa fa-search"></i> </a>

                                        </li>
                                            <li>
                                                <a href="{{ path('admin_detail',{'type':'photo','id':photo.id}) }}" title="Gestion des détails"><i class="fal fa-newspaper"></i></a>
                                            </li>
                                    </ul>
                                </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <h4>Gestions des Videos</h4>
            <div class="card">
                <ul class="cartouches hack-inline sortable" data-action="{{ path('admin_file_prio') }}" data-type="video">
                    {% if object is defined %}
                        {% for video in object.videos %}
                            {% set file = video.file %}
                            <li data-id="{{ video.id }}" class="col-lg-1 ui-state-default relative {{ file.type.name }}" data-type="{{ file.type.name }}">
                                <a href="{{ asset('uploads/'~file.file)}}" class="fancy fancy_box"></a>
                                <span>
                                    <span class="boxing">
                                            <img src="{{ asset('uploads/'~file.file)}}"/>
                                    </span>
                                </span>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <h4>Gestions des Documents</h4>
            <div class="card">
                <ul class="cartouches hack-inline sortable" data-action="{{ path('admin_file_prio') }}" data-type="document">
                    {% if object is defined %}
                        {% for document in object.documents %}
                            {% set file = document.file %}
                            <li data-id="{{ document.id }}" class="col-lg-1 ui-state-default relative {{ file.type.name }}" data-type="{{ file.type.name }}">
                                <a href="{{ asset('uploads/'~file.file)}}" class="fancy fancy_box"></a>
                                <span>
                                    <span class="boxing">
                                            <img src="{{ asset('uploads/'~file.file) | thumb(200)}}"/>
                                    </span>
                                </span>
                                <ul class="actions">
                                    <li><a href="{{ asset('uploads/'~file.file)}}" class="fancy fancy_box"><i class="fa fa-search"></i> </a>

                                    </li>
                                    <li>
                                        <a href="{{ path('admin_detail',{'type':'document','id':document.id}) }}" title="Gestion des détails"><i class="fal fa-newspaper"></i></a>
                                    </li>
                                </ul>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div id="addfile_form">
        <form action="{{ path('admin_file_upload') }}"
              class="dropzone"
              id="customdropzone"></form>
    </div>
    <h4>Gérez vos fichiers</h4>
    <form>
        <label>Filtres : </label>
        <select id="filter_type">
            <option value="all">Tout</option>
            {% if fileTypes is defined %}
                {% for type in fileTypes %}
                    <option value="{{ type.name }}">{{ type.title }}</option>
                {% endfor %}
            {% endif %}
        </select>
    </form>
    <div class="row">

        <div id="container_cartouches" class="col-md-10 trans500" data-select="[]">
            <div class="card">
                <div class="card-body">
                    <ul id="cartouches" class="hack-inline cartouches">
                        {% if files is defined %}
                            {% for file in files %}
                                {% include('@ScyLabsNeptune/admin/file/cartouche.html.twig') %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-2 trans500" id="gallery_actions">
            <div class="card">
                <button onclick="$('#addfile_form').slideToggle(500)" class="btn btn-pink m-b-10 m-l-5 show_form">Ajouter des fichiers</button>
                <button id="valider_liaison" data-action="{{ path('admin_file_link') }}" class="btn btn-pink m-b-10 m-l-5 show_form">Lier</button>
            </div>
            <div id="selection_elements" class="card none">
                <div class="card">
                    <div class="card-body">
                        <table id="myTable" class="table table-bordered table-striped dataTable no-footer" role="grid" aria-describedby="myTable_info">
                            <thead>
                            <th>Name</th>
                            <th>Parent</th>
                            </thead>
                            <tbody>
                            <tr data-id="{{ object.id }}" data-type="{{ app.request.attributes.get('type') }}" class="active" data-files="{{ object.jsonFiles }}">
                                <td>
                                    {{ object.name }}
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}