{% extends app.request.XmlHttpRequest ? '@ScyLabsNeptune/admin/ajax.html.twig' :  '@ScyLabsNeptune/admin/layout.html.twig' %}

{% block css %}

{% endblock %}
{% block js %}

{% endblock %}

{% block content %}
    <div class="row" id="modification_prio">
        <div class="col-md-12 trans500">
            <h4>Photos</h4>
            <div class="card">
                <ul class="cartouches hack-inline sortable" data-action="{{ path('neptune_file_prio') }}" data-type="photo">
                    {% if object is defined %}
                        {% for photo in object.photos %}
                                {% set file = photo.file %}
                                <li data-id="{{ photo.id }}" class="col-lg-3 ui-state-default relative {{ file.type.name }}" data-type="{{ file.type.name }}">

                                    <span>
                                        <span class="boxing">
                                            <img src="{{ asset('uploads/'~file.file)}}"/>
                                        </span>
                                    </span>
                                    <ul class="actions">
                                        <li><a href="{{ asset('uploads/'~file.file) | thumb(400)}}" class="fancy fancy_box"><i class="fa fa-search"></i> </a>

                                        </li>
                                        <li>
                                            <a href="{{ path('neptune_detail',{'type':'photo','id':photo.id}) }}" class="ajax edit" title="Gestion des détails"><i class="fal fa-newspaper"></i></a>
                                        </li>
                                        <li>
                                            <a href="{{ path('neptune_file_link_remove',{'type':'photo','id':photo.id}) }}" class="ajax"><i class="fa fa-times" style="color: red;"></i></a>
                                        </li>
                                    </ul>
                                </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <h4>Videos</h4>
            <div class="card">
                <ul class="cartouches hack-inline sortable" data-action="{{ path('neptune_file_prio') }}" data-type="video">
                    {% if object is defined %}
                        {% for video in object.videos %}
                            {% set file = video.file %}
                            <li data-id="{{ video.id }}" class="col-lg-3 ui-state-default relative {{ file.type.name }}" data-type="{{ file.type.name }}">

                                <span class="boxing">
                                    <i class="centerXY iconFile" style="color: #fff;">{{ file.originalName }}</i>

                                </span>
                                <ul class="actions">
                                    <li><a href="{{ asset('uploads/'~file.file)}}" class="fancy fancy_box"><i class="fa fa-search"></i> </a>

                                    </li>
                                    <li>
                                        <a href="{{ path('neptune_detail',{'type':'video','id':video.id}) }}" class="ajax edit" title="Gestion des détails"><i class="fal fa-newspaper"></i></a>
                                    </li>
                                    <li>
                                        <a href="{{ path('neptune_file_link_remove',{'type':'video','id':video.id}) }}" class="ajax"><i class="fa fa-times" style="color: red;"></i></a>
                                    </li>
                                </ul>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <h4>Documents</h4>
            <div class="card">
                <ul class="cartouches hack-inline sortable" data-action="{{ path('neptune_file_prio') }}" data-type="document">
                    {% if object is defined %}
                        {% for document in object.documents %}
                            {% set file = document.file %}
                            <li data-id="{{ document.id }}" class="col-lg-3 ui-state-default relative {{ file.type.name }}" data-type="{{ file.type.name }}">

                                <span>
                                    <span class="boxing">
                                        <i class="fa {% if file.ext == 'pdf' %}fa-file-pdf{% endif %} centerXY iconFile">
                                            {{ file.originalName }}
                                        </i>
                                        <span class="name"></span>
                                    </span>
                                </span>
                                <ul class="actions">
                                    <li><a href="{{ asset('uploads/'~file.file)}}" class="fancy fancy_box"><i class="fa fa-search"></i> </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('neptune_detail',{'type':'document','id':document.id}) }}" class="ajax edit" title="Gestion des détails"><i class="fal fa-newspaper"></i></a>
                                    </li>
                                    <li>
                                        <a href="{{ path('neptune_file_link_remove',{'type':'document','id':document.id}) }}" class="ajax"><i class="fa fa-times" style="color: red;"></i></a>
                                    </li>
                                </ul>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <h4>Gérez vos fichiers</h4>
    <form>
        <label>Filtres : </label>
        <select id="filter_type">
            <option value="all">Tout</option>
            {% if fileTypes is defined %}
                {% for type in fileTypes %}
                    <option value="{{ type.name }}">{{ type.title }}</option>
                {% endfor %}
            {% endif %}
        </select>
    </form>
    <button id="valider_liaison" data-action="{{ path('neptune_file_link') }}" class="btn btn-blue m-b-10 m-l-5 show_form">{{ 'Valider vos modifications' | trans }}</button>


    <div class="row">
        <div id="container_cartouches" class="col-md-12 trans500 dropzone" data-action="{{ path('neptune_file_upload') }}" data-select="[]">
            <div class="mw100">
                <div class="">
                    <ul id="cartouches" class="hack-inline cartouches">
                        {% if files is defined %}
                            {% for file in files %}
                                {% include('@ScyLabsNeptune/admin/file/cartouche.html.twig') %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-2 trans500" style="display: none;" id="gallery_actions">
            <div id="selection_elements" class="card none">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-bordered table-striped no-footer" role="grid" aria-describedby="myTable_info">
                            <thead>
                            <th>Name</th>
                            <th>Parent</th>
                            </thead>
                            <tbody>
                            <tr data-id="{{ object.id }}" data-type="{{ app.request.attributes.get('type') }}" class="active" data-files="{{ object.jsonFiles }}">
                                <td>
                                    {{ object.name }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}