{% import '@ScyLabsNeptune/admin/entity/macros.html.twig' as recursiveMacro %}


<!-- Start Page Content -->
<div class="row">
    {% if app.request.XmlHttpRequest %}
        <div class="col-lg-12 m-t-25">
            <div class="margin_bottom_30">
                <a class="btn btn-pink m-b-10 m-l-5 show_form ajax add " href="{{ path('neptune_entity_add',{'type':app.request.attributes.get('type'),'parentType':app.request.get('parentType'),'parentId':app.request.get('parentId')}) }}" >Créer une {{ app.request.attributes.get('type') }}</a>
            </div>
        </div>
    {% endif %}
    <div class="col-lg-{{  (not app.request.XmlHttpRequest and app.request.attributes.get('_route') == 'neptune_entity' or app.request.attributes.get('_route') == "codex_category" ) ? '10' : '12'}}">
        <div class="tabs">

            {% set object = (objects | length) ?  objects[0] : [] %}
            <ul class="onglets">
                <li><a href="#tabs-1">Structure</a></li>
                {% if object.prio is defined %}
                    <li><a href="#tabs-2">Tri</a></li>
                {% endif %}
            </ul>
            <div id="tabs-1">
                <div class="card">
                    <div class="card-body">
                        <table id="myTable" class="table table-bordered table-striped dataTable no-footer" role="grid" aria-describedby="myTable_info">
                            <thead>
                            {% if object.active is defined %}
                                <th>Actif</th>
                            {% endif %}
                            {% if object.type is defined and object.type is not null%}
                                <th>Type</th>
                            {% endif %}
                            {% if object.name is defined %}
                                <th>Nom</th>
                            {% endif %}
                            {% if object.title is defined %}
                                <th>Titre</th>
                            {% endif %}
                            {% if object.url is defined and not (object.url | is_object) and object.url is not null %}
                                <th>Url</th>
                            {% endif %}
                            {% if object.parent is defined  %}
                                <th>Parent</th>
                            {% endif %}
                            {% if object.prio is defined %}
                                <th>Prio</th>
                            {% endif %}

                            <th>Actions</th>
                            </thead>
                            <tbody>
                            {% if objects is defined and objects | length %}
                                {% for object in objects %}
                                    {% if app.request.attributes.get('type') == 'page' %}
                                        {{ recursiveMacro.recursiveTabPage(object,loop.first) }}
                                    {% else %}
                                        <tr>
                                            {% if object.active is defined %}
                                                <td>
                                                    <a href="{{ path('neptune_entity_active',{'id':object.id,'type':app.request.attributes.get('type')}) }}" class="ajax active">
                                                        {% if object.active %}
                                                            <i class="fa fa-check text-success" title="Désactiver"></i>
                                                        {% else %}
                                                            <i class="fa fa-times text-danger" title="Activer"></i>
                                                        {% endif %}
                                                    </a>
                                                </td>
                                            {% endif %}
                                            {% if object.type is defined and object.type is not null %}
                                                <td>{{ object.type.name }}</td>
                                            {% endif %}
                                            {% if object.name is defined %}
                                                <td>{{ object.name }}</td>
                                            {% endif %}
                                            {% if object.title is defined %}
                                                <td>{{ object.title }}</td>
                                            {% endif %}
                                            {% if object.parent is defined %}
                                                <td>{{ object.parent.name }}</td>
                                            {% endif %}

                                            {% if object.url is defined and not (object.url | is_object) and object.url is not null %}
                                                <td><a href="{{ object.url }}">{{ object.url }}</a></td>
                                            {% endif %}
                                            {% if object.prio is defined %}
                                                <td>{{ object.prio }}</td>
                                            {% endif %}
                                            <td>
                                                <ul class="actions">
                                                    {% if object.__clone is defined %}
                                                        <li><a href="{{ path('neptune_entity_clone',{'type':app.request.attributes.get('type'),'id':object.id}) }}" class="ajax clone" title="Dupliquer"><i class="far fa-clone"></i></a></li>
                                                    {% endif %}
                                                    {% if object.photos is defined %}
                                                        <li><a href="{{ path('neptune_file_gallery_prio',{'type':app.request.attributes.get('type'),'id':object.id}) }}" class="ajax" title="Médias"><i class="far fa-image"></i></a></li>
                                                    {% endif %}
                                                    {% if object.details is defined %}
                                                        <li><a href="{{ path('neptune_detail',{'type':app.request.attributes.get('type'),'id':object.id}) }}" class="edit" target="_blank" title="Textes"><i class="far fa-font"></i></a></li>
                                                    {% endif %}
                                                    <li><a href="{{ path('neptune_entity_edit',{'id':object.id,'type':app.request.attributes.get('type')}) }}" class="ajax edit" title="Editer"><i class="far fa-pen"></i></a></li>
                                                    {% if object.zones is defined %}
                                                        <li><a href="{{ path('neptune_entity',{'type':'zone','parentType':app.request.attributes.get('type'),'parentId':object.id}) }}" title="Structure"><i class="far fa-th"></i></a></li>
                                                    {% endif %}
                                                    <li class="">
                                                        <a class="ajax delete"  data-id="{{ object.id }}" href="{{ path('neptune_entity_remove',{'id':object.id,'type':app.request.attributes.get('type') }) }}" title="Supprimer">
                                                            <i class="fas fa-times"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% if object.prio is defined %}
                <div id="tabs-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Définir l'ordre des {{ app.request.attributes.get('type') }}</h4>
                            <div class="card-content">
                                <div class="">
                                    <div class="dd nestable{{ (app.request.attributes.get('type') == 'page') ? '' : ' onelevel' }}" data-action="{{ path('neptune_entity_prio',{'type':app.request.attributes.get('type')}) }}">
                                        <ol class="dd-list">
                                            {% if objects | length %}
                                                {% for object in objects %}
                                                    {% if app.request.attributes.get('type') == 'page' %}
                                                        {{ recursiveMacro.recursivePage(object,loop.first) }}
                                                    {% else %}
                                                        <li class="dd-item" data-id="{{ object.id }}">
                                                            <div class="dd-handle">
                                                                {% if object.active is defined %}
                                                                    <a href="{{ path('neptune_entity_active',{'id':object.id,'type':app.request.attributes.get('type')}) }}" class="ajax active">
                                                                        {% if object.active %}
                                                                            <i class="fa fa-check text-success" title="Désactiver"></i>
                                                                        {% else %}
                                                                            <i class="fa fa-times text-danger" title="Activer"></i>
                                                                        {% endif %}
                                                                    </a>
                                                                {% endif %}
                                                                {{ object.name }}
                                                            </div>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% if not app.request.XmlHttpRequest and app.request.attributes.get('_route') == 'neptune_entity' or app.request.attributes.get('_route') == "codex_category"  %}
        <div class="col-lg-2 m-t-40">
         
                <a class="btn btn-pink m-b-10 m-l-5 show_form ajax add" href="{{ path('neptune_entity_add',{'type':app.request.attributes.get('type')}) }}" >Ajouter une {{ app.request.attributes.get('type') }}</a>
        
        </div>
    {% endif %}
</div>
<!-- End page Content -->