{% import _self as recursiveMacro %}
{% macro recursivePage(page,first) %}
    {% import _self as self %}
    {% if page.remove == 0 %}
        <li class="dd-item" data-id="{{ page.id }}">
            <div class="dd-handle">
                <a href="{{ path('admin_entity_active',{'id':page.id,'type':app.request.attributes.get('type')}) }}">
                    {% if page.active %}
                        <i class="fa fa-check text-success"></i>
                    {% else %}
                        <i class="fa fa-times text-danger"></i>
                    {% endif %}
                </a>
                {% if first %}
                    <i class="fa fa-home"></i>
                {% endif %}
                {{ page.name }}
            </div>
            {% if page.childs |length %}
                <ol class="dd-list">
                    {% for child in page.childs %}
                        {{ self.recursivePage(child) }}
                    {% endfor %}
                </ol>
            {% endif %}
        </li>
    {% endif %}
{% endmacro %}

{% macro recursiveTabPage(page,first) %}
    {% import _self as self %}
    {% if page.remove == 0 %}
        <tr>
            <td>

                <a href="{{ path('admin_entity_active',{'id':page.id,'type':app.request.attributes.get('type')}) }}">
                    {% if page.active %}
                    <i class="fa fa-check text-success"></i>
                    {% else %}
                        <i class="fa fa-times text-danger"></i>
                    {% endif %}
                </a>
            </td>
            <td>{{ page.type.title }}</td>
            <td>
                {% if first %}
                    <i class="fa fa-home"></i>
                {% endif %}
                {{ page.name }}
            </td>
            <td>
                {% if page.parent is not  null %}
                    {{ page.parent.name }}
                {% endif %}
            </td>
            <td>
                <ul class="actions">
                    <li><a href="{{ path('admin_file_gallery_prio',{'type':'page','id':page.id}) }}" title="Gestion des fichiers"><i class="fa fa-file-alt"></i></a></li>
                    <li><a href="{{ path('admin_detail',{'type':app.request.attributes.get('type'),'id':page.id}) }}" title="Gestion des détails"><i class="fal fa-newspaper"></i></a></li>
                    <li><a href="{{ path('admin_entity_edit',{'id':page.id,'type':app.request.attributes.get('type')}) }}" title="Modifier"><i class="fa fa-pencil"></i></a></li>
                    <li class="">
                        {{ render(controller(
                            'ScyLabs\\NeptuneBundle\\Controller\\EntityController::deleteAction',
                            {'id':page.id,'type':app.request.attributes.get('type')}
                        )) }}
                    </li>
                </ul>
            </td>
        </tr>
        {% if page.childs |length %}
            {% for child in page.childs %}
                {{ self.recursiveTabPage(child) }}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endmacro %}